# Ignore all
*
# Capture Directories
!/Common
!/3rdParty
# Capture .cc and .hh files
!/Common/*/*.cc
!/Common/*/*.hh
# Capture Makefiles
/Common/*/!Makefile
# Capture boost files
!*.jam
!boost_1_61_0.tar.bz2
